{% extends 'layout.twig' %}

{% block head %}

    <title>Contact me</title>

{% endblock %}

{% block content %}
    <h1>Contact me</h1>
    <p>
        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. 
        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. 
        Lorem ipsum dolor sit amet.
    </p>


{% endblock %}