{% extends 'layout.twig' %}
{% block head %}
    <title>Films</title>
{% endblock %}
{% block content %}
    <h1>Films</h1>
    <ul>
        {% for film in movies %}
            <li>
                {{ film.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}