{% extends 'layout.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-9 col-xs-9">
            {% block main%}{% endblock %}
        </div>
        <div class="col-lg-3 col-xs-3">
        {% block sidebar%}
            <h1>My sidebar</h1>
            {% endblock %}
        </div>
    </div>
{% endblock content %}